<div class="container-fluid" style="padding-top:80px;">
	<form action="" method="POST" role="form">
		<legend>Inscripción de Alumno</legend>
	
		<div class="row">
			<div class="form-group">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<label for="">Nombre</label>
					<input type="text" class="form-control" id="">

					<label for="">Apellido Paterno</label>
					<input type="text" class="form-control" id="">

					<label for="">Apellido Materno</label>
					<input type="text" class="form-control" id="">

					<label for="">Correo Electrónico</label>
					<input type="email" class="form-control" id="">

					<label for="">Carrera</label>
					<select class="form-control">
						<option value="LDE">CARRERA</option>
					</select>

					<label for="">Cuatrimestre</label>
					<select class="form-control">
						<option value="1">PRIMER CUATRIMESTRE</option>
						<option value="2">SEGUNDO CUATRIMESTRE</option>
						<option value="3">TERCER CUATRIMESTRE</option>
						<option value="4">CUARTO CUATRIMESTRE</option>
						<option value="5">QUINTO CUATRIMESTRE</option>
						<option value="6">SEXTO CUATRIMESTRE</option>
						<option value="7">SEPTIMO CUATRIMESTRE</option>
						<option value="8">OCTAVO CUATRIMESTRE</option>
						<option value="9">DECIMO CUATRIMESTRE</option>
					</select>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<label for="">CURP</label>
					<input type="text" class="form-control" id="">

					<label for="">Municipio</label>
					<input type="text" class="form-control" id="">

					<label for="">Endidad</label>
					<input type="text" class="form-control" id="">

					<label for="">Dirección</label>
					<input type="text" class="form-control" id="">

					<label for="">Teléfono</label>
					<input type="text" class="form-control" id="">

					<label for="">Trabaja?</label>
					<select class="form-control">
						<option value="SI">SI</option>
						<option value="NO">NO</option>
					</select>

					<button type="submit" class="btn btn-primary pull-right" style="margin-top: 20px;">Inscribir</button>
				</div>
			</div>
		</div>
	</form>
</div>