<div class="container" style="padding-top: 80px;" ng-controller="controller-modificaAlumno">
	<div class="page-header">
	  <h1>Modificación&nbsp;<small>Alumnos</small></h1>
	</div>

	<!-- SECCION PARA FILTRO DE ALUMNO -->
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<label>Filtro: </label>
			<input type="text" name="" id="" class="form-control" placeholder="Carrera" ng-model="FiltroCarrera" >
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<label>Elegir alumno: </label>
			<select class="form-control" ng-change="AlumnoSelected()" ng-model="OptionSelected">
				<option ng-repeat="alumno in alumnos | filter: FiltroCarrera" value="{[{alumno.PersonaID}]}">{[{alumno.Nombre + " " + alumno.ApellidoPeterno + " " + alumno.ApellidoMaterno + "  |  " + alumno.NombreCarrera}]}</option>
			</select>
		</div>
	</div>

	<!-- SECCION PARA LLENAR DATOS A MODIFICAR -->
	<div class="row" style="padding-bottom: 50px;" ng-if="persona != null">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form action="/updateAlumno" method="POST" role="form">
				<div class="form-group">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label>ID de Alumno</label>
						<input type="text" class="form-control has-success" id="PersonaID" name="PersonaID" value="{[{persona.PersonaID}]}" readonly="readonly">

						<label for="Nombre">Nombre</label>
						<input type="text" class="form-control" id="Nombre" name="Nombre">

						<label for="ApellidoPeterno">Apellido Paterno</label>
						<input type="text" class="form-control" id="ApellidoPeterno" name="ApellidoPeterno">

						<label for="ApellidoMaterno">Apellido Materno</label>
						<input type="text" class="form-control" id="ApellidoMaterno" name="ApellidoMaterno">

						<label for="Email">Correo Electrónico</label> 
						<input type="email" class="form-control" id="Email" name="Email">

						<label for="CarreraID">Carrera</label>
						<select class="form-control" id="CarreraID" name="CarreraID"  required="required">
							<option value="LED" selected="selected">Llicenciatura en Derecho</option>
							<option value="LEA" selected="selected">Llicenciatura en Administración</option>
							<option value="LEI" selected="selected">Llicenciatura en Informática</option>
						</select>

						<label for="CuatrimestreID">Cuatrimestre</label>
						<select class="form-control" id="CuatrimestreID" name="CuatrimestreID">
							<option value="1">PRIMER CUATRIMESTRE</option>
							<option value="2">SEGUNDO CUATRIMESTRE</option>
							<option value="3">TERCER CUATRIMESTRE</option>
							<option value="4">CUARTO CUATRIMESTRE</option>
							<option value="5">QUINTO CUATRIMESTRE</option>
							<option value="6">SEXTO CUATRIMESTRE</option>
							<option value="7">SEPTIMO CUATRIMESTRE</option>
							<option value="8">OCTAVO CUATRIMESTRE</option>
							<option value="9">DECIMO CUATRIMESTRE</option>
						</select>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label for="CURP">CURP</label>
						<input type="text" class="form-control" id="CURP" name="CURP">

						<label for="municipio">Municipio</label>
						<input type="text" class="form-control" id="municipio" name="municipio">

						<label for="Entidad">Entidad</label>
						<input type="text" class="form-control" id="Entidad" name="Entidad">

						<label for="Direccion">Dirección</label>
						<input type="text" class="form-control" id="Direccion" name="Direccion">

						<label for="Telefono">Teléfono</label>
						<input type="text" class="form-control" id="Telefono" name="Telefono">

						<label for="Trabaja">Trabaja?</label>
						<select class="form-control" id="Trabaja" name="Trabaja">
							<option value="SI">SI</option>
							<option value="NO">NO</option>
						</select>

						<button type="submit" class="btn btn-primary pull-right" style="margin-top: 20px;">Modificar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- SCRIPT PARA ANGULAR-->
<script type="text/javascript">
	var app = angular.module('sicecui', []);
	app.config(function($interpolateProvider) {
	  $interpolateProvider.startSymbol('{[{');
	  $interpolateProvider.endSymbol('}]}');
	});

	app.controller('controller-modificaAlumno',function($scope,$http) {
		
		$http.get("/getAlumnos").then(function(response) {
	        $scope.alumnos = response.data;
	    });

	    $scope.AlumnoSelected = function(){
			$http.get("/getPersonaAlumno?id="+$scope.OptionSelected).then(function(response) {
		        $scope.persona = response.data[0];
		        console.log($scope.persona);
		        document.getElementById('Nombre').value = response.data[0].Nombre;
		        document.getElementById('ApellidoPeterno').value = response.data[0].ApellidoPeterno;
		        document.getElementById('ApellidoMaterno').value = response.data[0].ApellidoMaterno;
		        document.getElementById('Email').value = response.data[0].Email;
		        document.getElementById('CarreraID').value = response.data[0].CarreraID;
		        document.getElementById('CURP').value = response.data[0].CURP;
		        document.getElementById('municipio').value = response.data[0].municipio;
		        document.getElementById('Entidad').value = response.data[0].Entidad;
		        document.getElementById('Direccion').value = response.data[0].Direccion;
		        document.getElementById('Telefono').value = response.data[0].Telefono;
		        document.getElementById('Trabaja').value = response.data[0].Trabaja;
		        document.getElementById('CuatrimestreID').value = response.data[0].CuatrimestreID;
		    });
		};
	});
</script>